<div id="forgot-password-form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <form hx-post="{{ url_for('new_password') }}" hx-target="#forgot-password-form" hx-swap="outerHTML">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Email">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Neues Password
            </button>
            <button hx-get="{{ url_for('login') }}" hx-target="#forgot-password-form" hx-swap="outerHTML" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                Cancel
            </button>
        </div>
    </form>
</div>