<div class="w-full max-w-md">
    <div id="general-form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="text-green-500 text-center mb-4">
            Ein neues Passwort wurde an Ihre E-Mail-Adresse gesendet.
        </div>
        <button hx-get="{{ url_for('login') }}" hx-target="#general-form" hx-swap="outerHTML" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Zurück zum Login
        </button>
    </div>
</div>